<style>
div.absolute {
    position: absolute;
    bottom: 50px;
    margin: auto;
    width : 100%;
	font-size: 17px;
    }
</style>

<div class="absolute">
<div class="container">
<div class="well">

<h2>For Patients</h2>



<p>Health.med is an integrated healthcare system that aims to connect patients and medical professionals.</p>
<p>With Health.med patients are able to:</p>
<u1>
  <li>Create and edit their own medical profile</li>
  <li>View their personal health details</li>
  <li>Invite medical professionals to view and update their electronic health records</li>
</ul>

</div>
</div>
</div>

