<style>
div.absolute {
    position: absolute;
    bottom: 50px;
    margin: auto;
    width : 100%;
	font-size: 17px;
    }
</style>
<div class="absolute">
<div class="container">
<div class="well">

<h2>For Doctors</h2>


<p>Health.med is an integrated healthcare system that aims to connect patients and medical professionals.</p>
<p>With Health.med medical professionals are able to:</p>
<u1>
  <li>Accept new patients</li>
  <li>View and add to their patients electronic health records</li>
  <li>Generate prescription forms</li>
</ul>

</div>
</div>
</div>

