.margin-top {
    margin-top: 12px;
}
.margin-bottom {
    margin-bottom: 12px;
}
.ng-invalid {
    background-color: #ffe0e0;
}
.ng-valid {
    background-color: #ffffff;
}
span.error {
    color: red;
}
