.margin-top {
    margin-top: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
span.error {
    color: red;
}

p.tab {
	margin-left : 20px;
	margin-bottom : 0px;
}
p.tab-header {
	margin-bottom : 0px;
}


