<div class="container" ng-controller="ctrlr_patient_allergies">
    <div class="panel">
		<h2>My Allergies</h2>
        
        <button 
            class="btn btn-primary"
            ng-click="view.controller.toggleNewAllergy()"
            ng-hide="view.model.showNewAllergy">
            Add Allergy
        </button>
    </div>

    <form 
        name="newAllergy" 
        ng-show="view.model.showNewAllergy"
        novalidate>     

        <div class="well">
            <h4>New Allergy
                <small>
                    <span class="btn-group">
                        <button 
                            class="btn btn-default" 
                            ng-click="view.controller.toggleNewAllergy()">
                            Cancel
                        </button>
                    </span>
                </small>
            </h4>
 
            <label for="newAllergy_name">Allergy</label>
            <input 
                id="newAllergy_name"
                class="form-control" 
                type="text" 
                ng-model="model.newAllergy.allergy.name"
                required />
            <br />

            <label>Is this allergy life threatening?</label>
            <br />
            Yes
            <input 
                type="radio"
                name="life_threatening"
                value="ture"
                ng-model="model.newAllergy.allergy.life_threatening"
                required />
            No
            <input
                type="radio"
                name="life_threatening"
                value="false"
                ng-model="model.newAllergy.allergy.life_threatening"
                required />
            <br />

            <label>Symptoms:</label>
            <ul>
                <li ng-show="model.newAllergy.allergy.symptoms | isObjectEmpty">None</li>

                <li ng-repeat="symptom in model.newAllergy.allergy.symptoms">
                    {{ symptom.name }}
                </li>
            </ul>
                
            <label>Add Symptom</label>
            <select 
                ng-model="model.symptom.new" 
                ng-options="symptom.name for symptom in model.symptoms | filter:model.symptom.search">
            </select>
            
            Search <input type="text" ng-model="model.symptom.search" />
            <br/>

            <button 
                class="btn btn-default"
                ng-click="model.newAllergy.addSymptom(model.symptom.new)">
                Add
            </button>
             
            <div>
                <button 
                    class="btn btn-default" 
                    ng-click="view.toggleNewAllergy()">
                    Cancel
                </button>
                <button 
                    class="btn btn-primary" 
                    ng-click="http.allergies.add(model.newAllergy)">
                    Add
                </button>
            </div>
        </div>
    </form>

    <!-- Current Allergies -->

    <div class="well" ng-show="model.patient.allergies.length == 0">
        You have no known allergies. 
    </div>

    <div ng-hide="model.patient.allergies.length == 0">

        <!-- Individual Patient Allergies from the DB -->     
        <div class="well" ng-repeat="allergy in model.patient.allergies">
            <h5><strong>{{ allergy.name }}</strong><h5>
            <div>Life threatening: {{ allergy.life_threatening ? "Yes" : "No" }}</div>
            <div>Symptoms</div>
            <ul>
                <li ng-repeat="symptom in allergy.symptoms">{{ symptom.name }}</li>
            </ul>
        </div>
   
    </div>

     
    <!-- <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Allergies</a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <button
                        type="button"
                        class="btn btn-default navbar-btn"
                        ng-click="showAllergies()">
                        All
                    </button>
                 </li>
                <li ng-repeat="alpha in model.alpha">
                    <button
                        type="button"
                        class="btn btn-default navbar-btn"
                        ng-click="showAllergieS(alpha)">
                        {{ alpha }}
                    </button>
                 </li>
            </ul>
            
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
       </div>
    </div> -->
</div>
