<div ng-controller="ctrlr_recordAccess">

    <div 
        class="well"
        style="margin-top: 20px"
        ng-show="model.doctor.hasAccessToMe.length == 0">
        No doctors have access to your medical records.
    </div>

    <div ng-hide="model.doctor.hasAccessToMe.length == 0">


        <div class="well"
            ng-repeat="doctor in model.doctor.hasAccessToMe"
            ng-style="{'margin-top' : ($first ? '20px' : '0px')}">

            <div 
                class="row">

                <div class="col-sm-8">
                    <label>Dr. {{ doctor.name_first }} {{ doctor.name_last }}</label>
                    <p>MINC: {{ doctor.minc }}</p>
                    <p>Specialization: {{ doctor.specialization }}</p> 
                </div>
                <div 
                    class="col-sm-4"
                    style="text-align: center;"
                    > 
                    <button
                        class="btn btn-danger"
                        ng-click="revokeAccessTo(doctor._id)">
                        Revoke Access
                    </button>
                </div>
            </div>
        </div> 
    </div>
</div> 
