<div class="well" ng-show="model.patient.pending.length == 0">
    No doctors have access to your medical records.
</div>

<div ng-hide="model.patient.pending.length == 0">
    <!-- Individual pending invitations in the DB -->
    <!-- Pending is doctor model -->
    <div class="well" ng-repeat="pending in model.patient.pending">
        <h5><strong>
            {{ pending.name_first + ", " + pending.name_last }} 
        </strong><h5>
        
        <span class="pull-right">
            <button 
                class="btn btn-default"
                ng-click="http.patient.cancel_invite(pending._id)">                                                   Cancel
            </button>
       </span>
    </div>
</div>