<div ng-controller="ctrlr_my_patients">

<h3>My Patients</h3>

<ul class="nav nav-tabs">
	<li
		ng-class="view.controller.getTabClass(0)"
		ng-click="view.controller.setCurrentTab(0)">
		<a ui-sref="my_patients.list">My Patients</a>
	</li>

	<li
		ng-class="view.controller.getTabClass(1)"
		ng-click="view.controller.setCurrentTab(1)">
		<a ui-sref="my_patients.pending">Pending Patients</a>
	</li> 

	<li
		ng-class="view.controller.getTabClass(2)"
		ng-click="view.controller.setCurrentTab(2)">
		<a ui-sref="my_patients.add">Add a Patient</a>
	</li> 
</ul>

<div ui-view></div>

</div>
