<div class="container" ng-controller="ctrlr_profile">
    <h2>My {{ hello }}</h2>


<form name="patient_profile_form"
	ng-show="model.profile.patient"
	novalidate> 
      
    <h4><label>Personal Information</label></h4>
        <div class="well">
            
                <label>Name</label>
                    <input
						
                        placeholder="First Name"
                        class="form-control"
                        name="name_first"
						ng-disabled="disabled"
                        ng-model="model.profile.patient.name_first"
                        required />
					</br>
                    <input
                        placeholder="Last Name"
                        class="form-control"
						name="name_last"
						ng-disabled="disabled"
                        ng-model="model.profile.patient.name_last"
                        required />
					</br>	
                                
                <label>Health Card Number</label>
                    <input
                        placeholder="Health Card Number"
                        class="form-control"
                        name="health_card_number"
						ng-disabled="disabled"
                        ng-model="model.profile.patient.health_card_number"
                        required />
					</br>
             
             <label>Gender</label>
                <div class="radio">
                    <label class="radio-inline">
                    <input type="radio"
                     ng-model="model.profile.patient.gender"
                     name="gender"
					 ng-disabled="disabled"
					 value="female">
                     Female</label>
                    <label class="radio-inline">
                    <input type="radio"
                     ng-model="model.profile.patient.gender"
					 ng-disabled="disabled"
                     name="gender"
					 value="male">
                     Male</label>
                </div>
      </div>
      <div class="form-group">
         <h4><label>Address</label></h4>
         <div class="well">
                <label>Street</label>
                <input
                    Placeholder="Street"
                    class="form-control"
                    name="street"
                    ng-model="model.profile.patient.address.street"
					ng-disabled="disabled"
                    required />
					</br>
       
         <label>City</label>
                <input
                    Placeholder="City"
                    class="form-control"
                    name="city"
                    ng-model="model.profile.patient.address.city"
					ng-disabled="disabled"
                    required />
				</br>
		<label>Province</label> 
				<div>
                    <select class ="c-select" ng-model="model.profile.patient.address.province" ng-disabled="disabled">
					<option value="" selected="selected">Select One</option>
					<option value="AB">AB</option>
					<option value="BC">BC</option>
					<option value="MB">MB</option>
					<option value="NB">NB</option>
					<option value="NL">NL</option>
					<option value="NS">NS</option>
					<option value="NT">NT</option>
					<option value="NU">NU</option>
					<option value="ON">ON</option>
					<option value="PE">PE</option>
					<option value="QC">QC</option>
					<option value="SK">SK</option>
					<option value="YT">YT</option>
					</select>
				</div>
			</br>
			<style type="text/css">
							.c-select {
							width: 260px;
							font-size: 16px;
							line-height: 1;
							height: 34px;
									}
						</style>

        <label>Postal Code</label>
            <input
                Placeholder="Postal Code"
                class="form-control"
                name="postal_code"
                ng-model="model.profile.patient.address.postal_code"
				ng-disabled="disabled"
                required />
			</br>
		<label>Country</label> 
			<div>
                <select class ="c-select" ng-model="model.profile.patient.address.country" ng-disabled="disabled">
				<option value="" selected="selected">Select One</option>
				<option value="CAN">CAN</option>
				</select>
			</div>
					                           
        </div>
    </div> 
    <div class="form-group">
    
    <h4><label>Contact Information</label></h4>
        <div class="well">
        <label>Phone Number</label>
        
            <input
                placeholder="Primary Phone Number"
                class="form-control"
                name="primary_phone_number"
                ng-model="model.profile.patient.phone_number.primary"
				ng-disabled="disabled"
                required />
				</br>
            <input
                placeholder="Secondary Phone Number"
                class="form-control"
                name="secondary_phone_number"
                ng-model="model.profile.patient.phone_number.secondary"
				ng-disabled="disabled"
                />     
				</br>
            
            <label>Email Address</label>
                <input
                    placeholder="Email Address"
                    class="form-control"
                    name="email_address"
                    ng-model="model.profile.patient.email"
					ng-disabled="disabled"
                    required />
     </div>  
		<h4><label>Emergency Contact Information</label></h4>
        <div class="well">
        <label>Name</label>
			<input
                    placeholder="Name"
                    class="form-control"
                    name="name"
                    ng-model="model.profile.patient.emergency_contact.type.name"
					ng-disabled="disabled"
                    required />
					<br>
		<label>Phone Number</label>
                <input
                    placeholder="Phone Number"
                    class="form-control"
                    name="phone_number"
                    ng-model="model.profile.patient.emergency_contact.type.phone_number"
					ng-disabled="disabled"
                />
				<br>
				<label>Relationship</label>
                <input
                    placeholder="Relationship"
                    class="form-control"
                    name="relationship"
                    ng-model="model.profile.patient.emergency_contact.type.relationship"
					ng-disabled="disabled"
                />
        </div>
</div>

</form>
<button 
	type="button" 
	class="btn btn-primary btn-md"
	ng-click="edit(model.profile.patient)"
	ng-model="edit">
	Edit
	</button>
<button 
	type="button" 
	class="btn btn-primary btn-md"
	ng-click="http.profile.save(model.profile.patient)"
	ng-model="save">
	Save
</button>