<div class="container" ng-controller="ctrlr_profile">
    <h2>My {{ hello }}</h2>


<form name="patient_profile_form"
	ng-show="model.profile.patient"
	novalidate> 
	   
    <div class="form-group">
    
    <h4><label>Personal Information</label></h4>
        <div class="well">
            
                <label>Name</label>
                    <input
                        placeholder="First Name"
                        class="form-control"
                        name="name_first"
                        ng-model="model.profile.patient.name_first"
                        required />
					</br>
                    <input
                        placeholder="Last Name"
                        class="form-control"
						name="name_last"
                        ng-model="model.profile.patient.name_last"
                        required />
					</br>	
                                
                <label>Health Card Number</label>
                    <input
                        placeholder="Health Card Number"
                        class="form-control"
                        name="health_card_number"
                        ng-model="model.profile.patient.health_card_number"
                        required />
					</br>
             
             <label>Gender</label>
                <div class="radio">
                    <label class="radio-inline">
                    <input type="radio"
                     ng-model="model.profile.patient.gender"
                     name="gender"
					 value="female">
                     Female</label>
                    <label class="radio-inline">
                    <input type="radio"
                     ng-model="model.profile.patient.gender"
                     name="gender"
					 value="male">
                     Male</label>
                </div>
      </div>
      <div class="form-group">
         <h4><label>Address</label></h4>
         <div class="well">
                <label>Street</label>
                <input
                    Placeholder="Street"
                    class="form-control margin-top"
                    name="street"
                    ng-model="model.profile.patient.address.street"
                    required />
       
         <label>City</label>
                <input
                    Placeholder="City"
                    class="form-control margin-top"
                    name="city"
                    ng-model="model.profile.patient.address.city"
                    required />

        <label>Province</label> 
			<input
                    Placeholder="Province"
                    class="form-control margin-top"
                    name="province"
                    ng-model="model.profile.patient.address.province"
                    required />
					
         <label>Country</label>    
         <input
                    Placeholder="Country"
                    class="form-control margin-top"
                    name="country"
                    ng-model="model.profile.patient.address.country"
                    required />
                           
         <label>Postal Code</label>
                <input
                    Placeholder="Postal Code"
                    class="form-control margin-top"
                    name="postal_code"
                    ng-model="model.profile.patient.address.postal_code"
                    required />
    </div>
    </div> 
    <div class="form-group">
    
    <h4><label>Contact Information</label></h4>
        <div class="well">
        <label>Phone Number</label>
        
            <input
                placeholder="Primary Phone Number"
                class="form-control"
                name="primary_phone_number"
                ng-model="model.profile.patient.phone_number.primary"
                required />
				</br>
            <input
                placeholder="Secondary Phone Number"
                class="form-control"
                name="secondary_phone_number"
                ng-model="model.profile.patient.phone_number.secondary"
                />     
				</br>
            
            <label>Email Address</label>
                <input
                    placeholder="Email Address"
                    class="form-control"
                    name="email_address"
                    ng-model="model.profile.patient.email"
                    required />
     </div>  
		<h4><label>Emergency Contact Information</label></h4>
        <div class="well">
        <label>Name</label>
			<input
                    placeholder="Name"
                    class="form-control"
                    name="name"
                    ng-model="model.profile.patient.emergency_contact.name"
                    required />
					<br>
		<label>Phone Number</label>
                <input
                    placeholder="Phone Number"
                    class="form-control"
                    name="phone_number"
                    ng-model="model.profile.patient.emergency_contact.phone_number"
                />
				<br>
				<label>Relationship</label>
                <input
                    placeholder="Relationship"
                    class="form-control"
                    name="relationship"
                    ng-model="model.profile.patient.emergency_contact.relationship"
                />
        </div>
</div>