<!DOCTYPE html>
<html ng-app="module_login">
<head>
    <title>Health.med</title>
    <script src="lib/angular/min/angular.min.js"></script>
    <script src="lib/angular/min/angular-route.min.js"></script>

    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <script type="text/javascript" >
        console.log("Welcome to Health.med");

        angular.module('module_login', ['ngRoute'])
        .config(function($routeProvider){
            $routeProvider.when('/signup', {
                templateUrl : "/views/signup.html"
            });

            $routeProvider.when('/for_patients', {
                templateUrl : "/views/for_patients.html"
            });

            $routeProvider.when('/for_doctors', {
                templateUrl : "/views/for_doctors.html"
            });

            $routeProvider.otherwise({
                templateUrl : "/views/login.html"
            });
        });
    </script>
 
    <!-- Angular Scripts -->
    <script src="angular/controllers/login.controller.js" type="text/javascript"></script>
    <script src="angular/controllers/signup.controller.js" type="text/javascript"></script>
     
    <style>
        body {
            width; 100%
            height: 100%;
            margin: 0;
        }
        div.back-img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url('/views/pics/doctor_lady.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    </style>
</head>

<body>

    <div class="content back-img">
        <div class="navbar navbar-inverse">
            <div class="col-xs-4">
                <h2><a href="#/">Home</a></h2>
            </div>

            <div class="col-xs-4">
                <h3 class="pull-right">
                    <a href="#/for_patients">For Patients</a>
                </h3>
            </div>

            <div class="col-xs-4">
                <h3 class="pull-right">
                    <a href="#/for_doctors">For Doctors</a>
                </h3>
            </div>
        </div>

        <ng-view />
    </div>
</body>
</html>
